ami_prefix         = "is-aws-immutable-vault-"
ami_release        = "stable"
ami_os             = "centos"
ami_os_release     = "7"
key_name           = "aworkman"
name_prefix        = "aworkman"
vpc_id             = "vpc-6695700d"
subnets            = "subnet-fe171a96,subnet-37b6cd4d,subnet-6511b229"
app_subnet         = "subnet-fe171a96"
web_subnet         = "subnet-6511b229"
availability_zones = "us-east-2a,us-east-2b,us-east-2c"
owner              = "austin@hashicorp.com"
ttl                = "-1"
